*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 100vw;
    height: 100vh;
}
.top-flex{
    width: 1210px;
    height: 80px;
    left: 230px;
    position: fixed;
    float: right;
    z-index: 2;
    background-color: #0b0b0b;
    opacity: 0.5;
    display: flex;
    justify-content: flex-end;
}
.subscribe{
    height:80px;
    width: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}
.subscribe button{
    height: 30px;
    width: 200px;
    border-style: none;
    border-radius: 5px;
    border:1px solid #b3b3b3;
    color: #b3b3b3;
    background-color: transparent;
}
.subscribe button:hover{
    color: #22c95c;
    border:1px solid #22c95c;
    cursor: pointer;
}













.content{
    background-color: #121212;
    width: 1210px;
    height: 1800px;
    left: 230px;
    position: relative;
    z-index: 1;
}
.side-flex{
    background-color: #040404;
    width: 230px;
    height: 100%;
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;

}
.logo{
    width: 230px;
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
}
.side-flex img{
    width: 130px;
    height: 40px;
    margin-left: 4px;
}
.menu{
    align-self: center;
}
.menu:hover{
    color: #ffffff;
}
.side-flex button{
    width: 214px;
    height: 40px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left: 16px;
    padding-right: 16px;
    border-style: none;
    border-radius: 4px;
    color: #b3b3b3;
    background-color: #040404;
    text-align: left;
    font-size: 18px;
}
.side-flex button:hover{
    background-color: #282828;
    cursor: pointer;
    color: #ffffff;
}
.menu button span:hover{
    color: #ffffff;
}
.side-flex i:hover{
    color: #ffffff;
}
.side-flex span{
    float: left;
    font-size: 18px;
    color: #b3b3b3;
}

.side-flex i{
    float: left;
    font-size: 20px;
    margin-right: 16px;
    color: #b3b3b3;
}
.playlist span{
    font-size: 14px;
    color: #b3b3b3;
    padding-left: 23px;
    padding-top: 10px;
    margin-top:10px;
}
.crea{
    align-self: center;
    width: 214px;
    height: 60px;
    background-color: #040404;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 16px;
    padding-right: 16px;
}
.crea i{
    color: #b3b3b3;
    font-size: 40px;
}
.crea span{
    font-size: 14px;
    padding-top:10px;
    padding-bottom:10px;
    color: #b3b3b3;
}
.side-flex ul li{
    padding-left: 23px;
    font-size: 12px;
}
.side-flex ul li {
    color: #b3b3b3;
    line-height: 30px;
}
.side-flex ul li span{
    font-size: 12px;
}
.side-flex ul li :hover{
    color: #ffffff;
}
.account{
    position: relative;
    top: 25%;
    width: 214px;
    background-color: #040404;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
}
.account span, .account i{
    font-size: 12px;
}

.divisore{
    height: 2px;
    background-color: white;
    align-items: center;
    width: 200px
}
















.foot{
    background-color: #282828;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 90vh;
    z-index: 2;
}
