*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 100vw;
    height: 100vh;
}
.top-flex{
    top: 0;
    right: 0;
    height: 80px;
    left: 230px;
    position: fixed;
    z-index: 2;
    background-color: #0b0b0b;
    opacity: 0.5;
    display: flex;
    justify-content: flex-end;
}
.subscribe{
    height:80px;
    width: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}
.subscribe button{
    height: 30px;
    width: 200px;
    border-style: none;
    border-radius: 5px;
    border:1px solid #b3b3b3;
    color: #b3b3b3;
    background-color: transparent;
}
.subscribe button:hover{
    color: #22c95c;
    border:1px solid #22c95c;
    cursor: pointer;
}













.content-flex{
    background-color: #121212;
    top: 80px;
    right: 0px;
    bottom: 90px;
    left: 230px;
    z-index: 1;
}
.rowslist{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rowslist ul{
    list-style: none;

}
.rowslist ul li{
    list-style: none;
    float:left;

}
.rowslist ul li a{
    margin-right: 10px;
    margin-left: 10px;
    color:  #b3b3b3;
    text-decoration: none;
}
.rowslist ul li a:hover{
    color:  #ffffff;
    text-decoration: underline;
    text-decoration-color: #1ed760;
}
.rows{
    width: 100%;
    height: 230px;
    margin-bottom: 15px;

}
.name{
    width: 100%;
    height: 15%;

}
.name h2{
    color: #ffffff;
    margin-left: 15px;
    margin-top: 20px;
}
.album{
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 230px;

}
.card{
    width: 197px;
    height: 100%;
}
.fotoalbum{
    width: 100%;
    height: 90%;
    margin-left: 15px;
    margin-bottom: 5px;

}
.fotoalbum img{
    align-self: center;
    width: 85%;
    height: 100%;
}
.text{
    width: 100%;
    height: 15%;

}
.textcard{
    height:100%;
    text-align: center;
}
.textcard p{
    font-size: 10px;
    color: #ffffff;
}
/* seconda row */
.name{
    width: 100%;
    height: 15%;
    padding-left: 230px;
    
}
.name h2{
    color: #ffffff;
}
.information{
    width: 100%;
    height: 15%;
    padding-left: 230px;
}
.information p{
    color:  #b3b3b3;
    margin-left: 15px;

}
/* terza row */

.rotondo img{
    border-radius: 100%
}




















































.side-flex{
    background-color: #040404;
    width: 230px;
    height: 100%;
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;

}
.logo{
    width: 230px;
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
}
.side-flex img{
    width: 130px;
    height: 40px;
    margin-left: 4px;
}
.menu{
    align-self: center;
}
.menu:hover{
    color: #ffffff;
}
.side-flex button{
    width: 214px;
    height: 40px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left: 16px;
    padding-right: 16px;
    border-style: none;
    border-radius: 4px;
    color: #b3b3b3;
    background-color: #040404;
    text-align: left;
    font-size: 18px;
}
.side-flex button:hover{
    background-color: #282828;
    cursor: pointer;
    color: #ffffff;
}
.menu button span:hover{
    color: #ffffff;
}
.side-flex i:hover{
    color: #ffffff;
}
.side-flex span{
    float: left;
    font-size: 18px;
    color: #b3b3b3;
}

.side-flex i{
    float: left;
    font-size: 20px;
    margin-right: 16px;
    color: #b3b3b3;
}
.playlist span{
    font-size: 14px;
    color: #b3b3b3;
    padding-left: 23px;
    padding-top: 10px;
    margin-top:10px;
}
.crea{
    align-self: center;
    width: 214px;
    height: 60px;
    background-color: #040404;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 16px;
    padding-right: 16px;
}
.crea i{
    color: #b3b3b3;
    font-size: 40px;
}
.crea span{
    font-size: 14px;
    padding-top:10px;
    padding-bottom:10px;
    color: #b3b3b3;
}
.side-flex ul li{
    padding-left: 23px;
    font-size: 12px;
}
.side-flex ul li {
    color: #b3b3b3;
    line-height: 30px;
}
.side-flex ul li span{
    font-size: 12px;
}
.side-flex ul li :hover{
    color: #ffffff;
}
.account{
    position: relative;
    top: 25%;
    width: 214px;
    background-color: #040404;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
}
.account span, .account i{
    font-size: 12px;
}

.divisore{
    height: 2px;
    background-color: white;
    align-items: center;
    width: 200px
}
















.foot-flex{
    background-color: #282828;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 90vh;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.item{
    height:90px;
    width: 230px;

}
.production{
    width: 33.33%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}
.production img{
    width: 70%;
    align-self: center;
}
.testo{
    width: 33.33%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.testo p{
    color: #ffffff;
    font-size: 10px;
}
#brano{
    color: #b3b3b3;
    font-size: 8px;
}
.production i{
    width: 30%;
    align-self: center;
    color: #b3b3b3;
}
.production i:hover{
    cursor: pointer;
    color: #ffffff;
}

.center{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.row{
    height: 50%;
    width:100%;
    display: flex;
    justify-content: center;
}
.player{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.player i{
    color: #b3b3b3;
    align-self: center;
}
.player i:hover{
    color: #ffffff;
    cursor: pointer;
}
.time{
    width: 10%;
    height:100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.time p{
    color: #b3b3b3;
    align-self: center;
}

.bar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.bartime{
    width: 99%;
    height: 6px;
    border-radius: 10px;
    background-color:#b3b3b3;
    align-self: center;
}
.right{
    display: flex;
}
.function{
    height: 100%;
    width: 40%;
    display: flex;

}
.bartwo{
    height: 100%;
    width: 60%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.function i{
    width: 30%;
    align-self: center;
    color: #b3b3b3;
    margin-right: 5px;
}
.function i:hover{
    cursor: pointer;
    color: #ffffff;
}
